* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenitore {
    max-width: 1280px;
    margin: auto;
}

.fascia-violetta {
    background-color: blueviolet;
    min-height: 100px;

}